.center {
    text-align: center;
    /* background: blue; */
    /* color: yellow; */
}

table, td, th {
    text-align: center;
    position: relative;
}

th {
    background: #b2bbbe;
}

tr {
    background: #126e82;
    margin-top: 10px;
}

table {
    width: 100%
}

img {
    position: relative;
    width: 100%;
}

.plaintext{
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    position: relative;
    font-size: 24px;
}