.themed-grid-col {
    margin-bottom: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.themed-th-col {
    margin-bottom: -12px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(106, 61, 173, 0.15);
    border: 1px solid rgba(84, 55, 128, 0.2);
}
